footer {
    height: 8rem;
    background-color: black;
    color: white;
    font-family: var(--base-font);
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

footer p {
    display: flex;
    font-size: 0.9rem;
    padding: 10px;
}

@media (min-width: 1024px) {

    footer p {
        display: flex;
        font-size: 1.2rem;
        padding: 10px;
        margin-left: 1.5rem;
    }

}